.bottom-nav {
    padding: 0 22rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #009788;
    color: whitesmoke;
    font-weight: 600;
}

/* -----
    Category Section
----- */

.category {
    width: 230px;

    margin: 0 1rem;
    padding: 0 1rem;

    position: relative;

    border: 2px solid #80d7cf;
    border-top: none;
    border-bottom: none;
}

.category .select-category li {
    position: relative;

    text-align: center;
    list-style: none;
}

.category .select-category li .category-options {
    width: 240px;
    padding-top: 0.6rem;
    /* margin-left: 5px; */
    /* padding-bottom: 0; */
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: -12%;

    z-index: -1;
    text-align: start;

    background-color: #009788;

    border: 1px solid #009788;
    border-radius: 4px;

    transform: translateY(-3em);
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s,
        z-index 0s linear 0.01s;
}

.select-category li:focus .category-options,
.select-category li:focus-within .category-options,
.select-category li:hover .category-options,
.category-options:hover {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}

.category-options li {
    width: 100%;
    padding: 0.6rem 0;
    /* padding-left: 2rem; */
    border: 1px solid #009788;
    transition: all 0.5s ease-in-out;
    text-align: start;
}

.category-options li:hover {
    color: black;
    background-color: #80d7cf;
    border: 1px solid white;
}

.category-options li:last-of-type {
    padding-bottom: 1rem;
}

/* -----
    SearchBar Section
----- */

.search-bar .search-input {
    width: 35vw;
    height: 2.5rem;
    padding: 0 1rem;
    margin: 0 0;
    margin-left: 1rem;
}

/* -----
    Cart Options
----- */

.cart-options {
    min-height: 50px;
    min-width: 220px;
    margin: 1rem 2rem;
    padding: 0 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 2px solid #80d7cf;
    border-top: none;
    border-bottom: none;
}

.cart-options .cart-icon {
    width: 4rem;
    padding: 12px 15px;

    position: relative;

    background-color: #1aa294;
}

.cart-options .cart-icon .item-count {
    height: 22px;
    padding: 2px 5px 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;

    background-color: #009788;
    border-radius: 50%;
}

.cart-options .cart {
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: white;
    font-size: 12px;
    font-weight: bold;
}

.cart-options .cart span {
    margin: 4px 0;
}
